#main-footer {
    background-color: var(--secondary-color);
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly ;
    flex-wrap:  wrap ;
}


#main-footer-contact {
    margin: 0 2px 10px ;
    border-radius: 16px;
    text-align: center;
    width: auto;
}

#main-footer-contact a {
    text-decoration: none;
    color: var(--text-default-color);
    font-weight: bold;
    line-height: 30px;
    border: 2px solid #FFFF;
    border-radius: 35px;
    width: auto;
    min-width: 300px;
    padding-inline: 20px;
}

#main-footer-contact-text {
    font-size: 19px;
    color: #FFFF;
}

#main-footer-contact-phone {
    font-size: 25px;
    color:#c50000 ;
}
#main-footer-contact-phone:hover {
    font-size: 30px;
    color:#f10000 ;
}

#main-footer-whatsapp-phone {
    font-size: 25px;
    color:#25D366 ;
    margin: 10px;
}
#main-footer-whatsapp-phone:hover {
    font-size: 30px;
    color:#2cff79 ;
}

#main-footer-logo {
    text-align: center;

}

#main-footer-logo-link {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
}

#main-footer-logo-image {
    width: 140px;
    height: 50px;
    image-rendering: auto;
}

#main-footer-logo-title {
    margin-left: 10px;
    font-size: 24px;
    color: var(--text-primary-color);
    margin-bottom: 6px !important;
}

#main-footer-text {
    color: var(--text-primary-color);
    padding: 6px;
    text-align: left;
    line-height: 12px;
    letter-spacing: 1.5px;
}

#main-footer-copyright {
    /* border-top: 1px dashed #ffffff8c; */
    padding: 10px;
    text-align: center;
    color: var(--text-primary-color);
}

#main-footer-copyright span {
    color: var(--text-secondary-color);
}
.Qrcode{
    width: 15%;
}

/*  */

.footer-s1-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-width:212px;

}
#s1{
    padding-left: 10%;
}
.s2-div-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s2-div1-p{
    color: #FFFF;
    width: 45%;
    padding-left: 2%;
    font-size: 15px;
}
.s2-ul-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.s2-ul-div>div>ul{
    color: #FFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    

}
.s2-ul-div>div>ul>a>li{
    text-decoration: none;
    color: #FFFF;
}
#footer-s3{
    background-color: #fce305;
}
.footer-last-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.footer-last-p{
    margin-top: 0.5%;
}
#vl{
    border-left: 1px solid #fce305;
    height: 7.8rem;
}
#Link{
    text-decoration: none;
    color: #FFFF;
}

.Footer-Social{
    display: flex;
}

.Footer-Social>img{
    width: 30px;
    margin: 5px;
}

.socialMedia-Icon{
    width: 30px;
    margin: 5px;
}
#main-footer-text1 {
    width: 100%;
    text-align: center;
    letter-spacing: 1.5px;
    /* margin: 0 auto;
    */
    padding: 10px;
    color: #FFFF !important;
}

@media (min-width: 1024px) {
    #main-footer {
        padding-top: 40px;
    }
    #main-footer-contact {
        /* width: 30%; */
        /* margin: 0 auto;
        padding: 20px 0; */
    }

 



    #main-footer-text {
        width: 100%;
        text-align: left;
        padding: 10px;
        letter-spacing: 1.5px;
    }

    #main-footer-text1 {
        width: 100%;
        text-align: center;
        padding: 10px;
        color: #FFFF !important;
    }

    #main-footer-text2 {
        width: 50%;
        padding: 10px;
    }

    #main-footer-copyright {
        padding: 30px;
        margin: 0 80px;
        text-align: center;
        color: var(--text-primary-color);
    }
}


@media (max-width: 550px) {

    #s1{
        padding-left: 4%;
    }
    .footer-s1-div{
        align-items: center ;
    }
 
  
    #main-footer{
        display: flex;
        flex-direction: column;
    }

    .s2-div1-p{
        color: #FFFF;
        width: 75%;
        padding-left: 2%;
        font-size: 15px;
    }

    #main-footer-contact a{
        width: auto;
        min-width: 300px;
        padding-inline: 20px;
    }
    #main-footer-contact-phone{
        font-size: 20px;

    }
    #main-footer-contact-text{
        padding: 20px;
    }

} 



.contacts{
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* #contact-icon{
    height:30px;
    --svgRadius: 30px;
    
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--whatsapp-green);
    background: var(--bg-gradient3);
    background-size: 400%;
    background-position: left;
    transition: all 0.3s ease-in;

    height: var(--svgRadius);
    width: var(--svgRadius);
    border-radius: 50%;
    border-width: thick;
    border-color: var(--whatsapp-green);
}

#contact-icon:hover {
    color: #35967e;
    background: var(--whatsapp-green  );
    --svgRadius: 70px;

} */

#contact-iconsvg:svg{
        display: inline-block;
        height: calc(var(--svgRadius) - 10px);
        width: calc(var(--svgRadius) - 120px);
 }

